---
title: "About Me"
layout: "default"
isPage: true
place: "butt"
name: "Morgan"
---
<p>I like long walks on the {{document.place}}. <strong>Plus I rock at DocPad!</strong></p>
{{!--<p>{{ testPoop }}</p>--}}
{{!--{{> hello }}--}}